{% extends 'base.html' %}
{% load static %}
{% block title%} We are glad you are contacting us! {% endblock %}
{% block content %}

<!-- start page-title -->
<section class="page-title">
    <div class="container">
        <div class="row">
            <div class="col col-xs-12">
                <h2>Gallery</h2>
                <ol class="breadcrumb">
                    <li><a href="index-2.html">Home</a></li>
                    <li>Gallery</li>
                </ol>
            </div>
        </div> <!-- end row -->
    </div> <!-- end container -->
</section>
<!-- end page-title -->


<!-- recent-project -->
<section class="section-padding projects-grid-view-section">
    <div class="container">

        <div class="row">
            <div class="col col-md-8">
                <div class="section-title-s3">
                    <h2>Gallery of electrical installations made</h2>
                </div>
            </div>

        </div> <!-- end row -->

        <div class="row" id="gallery">
            <div class="col-12 col-sm-6 col-lg-3">
                <img class="w-100" src="{% static 'website/images/gallery/img-1.jpg' %}">
              </div>
              <div class="col-12 col-sm-6 col-lg-3">
                <img class="w-100" src="/image-2">
              </div>
              <div class="col-12 col-sm-6 col-lg-3">
                <img class="w-100" src="/image-3">
              </div>
              <div class="col-12 col-sm-6 col-lg-3">
                <img class="w-100" src="/image-4">
              </div>
        </div>

        <!-- <div class="row more-projects">
            <a href="#" class="theme-btn">More projects</a>
        </div> -->
    </div> <!-- end container -->
</section>
<!-- end recent-project -->

{% endblock %}
