<div class="col col-md-12">
    <div class="projects-grid-view">
        <div class="grid">
            <div class="project-img">
                <img class="" src="{% static 'website/images/gallery/img-1.jpg' %}" alt>
            </div>

        </div>
        <div class="grid">
            <div class="project-img">
                <img src="{% static 'website/images/gallery/img-2.jpg' %}" alt>
            </div>
            <!-- <div class="project-info">
                <div class="inner-info">
                    <a href="#"><h3>Chemical Refinery</h3></a>
                    <div class="tags">Michigan, US</div>
                </div>
            </div> -->
        </div>
        <div class="grid">
            <div class="project-img">
                <img src="{% static 'website/images/gallery/img-3.jpg' %}" alt>
            </div>
        </div>

    </div>
</div>