{% extends 'base.html' %}
{% load static %}
{% block title%} Reviews! {% endblock %}
{% block content %}

<!-- start page-title -->
<section class="page-title">
    <div class="container">
        <div class="row">
            <div class="col col-xs-12">
                <h2>Leave a Review</h2>
                <ol class="breadcrumb">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li>Leave a Review</li>
                </ol>
            </div>
        </div> <!-- end row -->
    </div> <!-- end container -->
</section>        
<!-- end page-title -->


<!-- start contact-pg-section -->
<section class="contact-pg-section section-padding">
    <div class="container">
        {% if f_name %}
        <center>
            <h2>
                Thanks for your message
            </h2>
            <p>
                We will respond you asap!
            </p>
        </center>
        {% else %}
        <div class="row">
            <div class="col col-md-3">
                <div class="contact-info">
                    
                    <ul>
                        <li>
                            <div class="icon"><i class="fa fa-commenting"></i></div>
                            <p>Thank you  <span>We appreciate you want to leaves us a review, please fill the following form and it will be sent to our web admin, so your review will be posted soon.</span> </p>
                        </li>                                
                    </ul>
                </div>
            </div>
            <div class="col col-md-offset-1 col-md-8">
                <div>
                    <form class="contact-form form contact-validation-active row" action="{% url 'leave-a-review' %}" method="post">
                        {% csrf_token %}
                        <div class="col col-sm-6">
                            <label for="f-name">Full Name</label>
                            <input type="text" class="form-control" id="f-name" name="f_name">
                        </div>
                        <div class="col col-sm-6">
                            <label for="l-name">Company/ Job Title</label>
                            <input type="text" class="form-control" id="company_position" name="l_name">
                        </div>
                        <div class="col col-sm-6">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" name="email">
                        </div>
                        <div class="col col-sm-6">
                            <label for="picture">Your picture</label>
                            <input type="file" class="form-control" id="picture" name="picture">
                        </div>
                        <div class="col col-sm-12">
                            <label for="message">Message</label>
                            <textarea class="form-control" id="message" name="note"></textarea>
                        </div>
                        <div class="col col-sm-12 submit-btn">
                            <button class="theme-btn" type="submit">Submit</button>
                            <div id="loader">
                                <i class="fa fa-refresh fa-spin fa-3x fa-fw"></i>
                            </div>
                        </div>
                        <div class="error-handling-messages">
                            <div id="success">Thank you</div>
                            <div id="error"> Error occurred while sending email. Please try again later. </div>
                        </div>
                    </form>
                    
                </div>                
            </div>
        </div> 
        <!-- end row -->
        {% endif %}        
    </div> <!-- end container -->
</section>
<!-- end contact-pg-section -->
{% endblock %}